<nav class="navbar navbar-default">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/booksingle">Books</a></li>
        <li routerLinkActive="active"><a routerLink="/bookform">Form</a></li>
        <li routerLinkAactive="active"><a routerLink="/signin">Login</a></li>
        <li routerLinkActiv="active"><a routerLink="/signup">Signup</a></li>
      </ul>
    </div>
</nav>