<nav class="navbar navbar-default">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/booksingle">Books</a></li>
        <li routerLinkActive="active"><a routerLink="/bookform">Form</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
        <li routerLinkAactive="active"><a routerLink="/signup">Créer Un compte</a></li>
        <li routerLinkActiv="active"><a routerLink="/signin">Connexion</a></li>
      </ul>
    </div>
</nav>